<?xml version="1.0" ?>
<launch>
  <arg name="mav_name" default="hummingbird"/>
  <arg name="world_name" default="empty"/>
  <arg name="enable_logging" default="false" />
  <arg name="enable_ground_truth" default="true" />
  <arg name="log_file" default="$(arg mav_name)" />
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="paused" default="true"/>
  <!-- The following line causes gzmsg and gzerr messages to be printed to the console
      (even when Gazebo is started through roslaunch) -->
  <arg name="verbose" default="false"/>
  <arg name="rvizconfig" default="$(find aerialmanip_control)/drone.rviz" />

  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find rotors_gazebo)/models"/>
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find rotors_gazebo)/models"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find aerialmanip_control)/worlds/$(arg world_name).world" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="verbose" value="$(arg verbose)"/>
  </include>

  <group ns="$(arg mav_name)">
    <include file="$(find aerialmanip_control)/launch/spawn_mav_manipulator.launch">
      <arg name="mav_name" value="$(arg mav_name)" />
      <!--<arg name="model" value="$(find aerialmanip_control)/urdf/mav_generic_odometry_sensor_manipulator.gazebo" />-->
      <arg name="model" value="$(find aerialmanip_control)/urdf/$(arg mav_name)_base_manipulator.xacro"/>
      <arg name="enable_logging" value="$(arg enable_logging)" />
      <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
      <arg name="log_file" value="$(arg log_file)"/>
      <arg name="x" default="0.0"/>
      <arg name="y" default="0.0"/>
      <arg name="z" default="0.12"/>
    </include>
   
    <node name="drone_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="arm_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
      <param name="publish_frequency" type="double" value="200" />
    </node>

    <node pkg="tf" type="static_transform_publisher" name="maptf" args="0 0 0 0 0 0  world /map  100"/>
    <node pkg="tf" type="static_transform_publisher" name="wNED" args="0 0 0 1.57079 0 3.14159  world worldNED  100"/>
   <node pkg="tf" type="static_transform_publisher" name="bodyNED" args="0 0 0 1.57079 0 3.14159  hummingbird/base_link hummingbird/base_linkNED  100"/>

   <arg name="node_start_delay" default="5.0" />
   <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)"  />
   
    </group>

  <!--<arg name="node_start_delay" default="3.0" />  
  <node pkg="rosservice" type="rosservice" name="gazebo_unpause" args="call gazebo/unpause_physics" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " />
  -->
  <node pkg="aerialmanip_control" type="drone_controller" name="uav_controller" />
  <arg name="node_start_delay" default="6.0" /> 
  <!-- -->
  <node pkg="aerialmanip_control" type="admittance_controller" name="manip_controller"/>

</launch>
